.App {
  text-align: center;
  height: 100vh;
  width:400px;
  margin: auto;
}

.container{
  height:20px;
  background-color: rgb(230, 229, 229);
  border-radius: 10px;

}
.bar{
  height: 20px;
  transition: width ease-in-out;
  border-radius: 10px;

}